## Getting Started with Python

In [ ]:
x = 10
name = "Rubiqa"
print(x)
print(name)
print(type(x))
print(type(name))

10
Rubiqa
<class 'int'>
<class 'str'>

In [ ]:
# comments can be added in python using the hash symbol
print("hello")
# print("Hi")

hello

**Python list**

In [ ]:
list = ["apple", "banana", "cherry", "apple", "cherry",10,24,2023]
print(list)
print(type(list))

['apple', 'banana', 'cherry', 'apple', 'cherry', 10, 24, 2023]
<class 'list'>

In [ ]:
#dictionary
Dict1 ={1:"apple", 2:"banana",3:"grapes"}
print("Dictionary1",Dict1)
print(type(Dict1))

# dictionary using the dict command
Dict2 = dict(name = "John", age = 36, country = "Norway")
print("Dictionary 2",Dict2)
print(type(Dict2))

Dictionary1 {1: 'apple', 2: 'banana', 3: 'grapes'}
<class 'dict'>
Dictionary 2 {'name': 'John', 'age': 36, 'country': 'Norway'}
<class 'dict'>

In [ ]:
# Tuple
tuple = ("apple", "banana",1,2,3, "apple", "cherry")
print(tuple)
print(type(tuple))

('apple', 'banana', 1, 2, 3, 'apple', 'cherry')
<class 'tuple'>